.half-width {
  width: 50%;
}

.styled-images {
  border-radius: 15px;
  border: 2px solid var( --light-background)
}

@media only screen and (max-width: 800px) {
  .half-width {
    width: 100%;
  }
}
