.footer {
  background-color: var(--headers-color);
  min-height: 100px;
  bottom: 0;
  width: 100%;
}

.responsive-size {
  width: 20%;
}

@media only screen and (max-width: 800px) {
  .responsive-size {
    width: 60%;
  }
}